



.main-container {
    background-color: gray;
    height: 410px;
    position: fixed;
    width: 300px;

}

.button-container{
    position: absolute;
    background-color: darkgoldenrod;
    width: 300px;
    height: 40px;
    z-index:9999999999;
    margin: -10px 0px;

}
.buttor {
 
    display: inline;
margin: 10;
text-align: center;

}
.chat-container{
    position: fixed;
    background-color: cornflowerblue;
    height: 400px;
    width: 300px;
    margin: 10px 0;
}
.me-container {
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: rgb(33, 255, 4);
    top: 400
}
.me-container input {
    position: fixed;
width: 300px;
outline: none;
    height: 50px;
    box-shadow: none;
}