
.main-container {
    background-color: #3d425c;
    height: 410px;
    width: 300px;
    position: fixed; 
    overflow-y: auto;
    resize: both;
    border-radius: 10%;
    min-height: 300px;
    min-width: 250px;
    border: 1px solid #ccc; 
}

.button-container {
    background-color: rgb(78, 78, 78);
    width: 100%; 
    height: 40px;
    position: relative;
    justify-content: center;
    display: flex;
    padding: 5px; 
    box-sizing: border-box; 
}



.chat-container {
    background-color:#3d425c;
    height: calc(100% - 90px); 
    width: 100%; 
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box; 
    padding: 10px;
}


.botmessage {
    color: rgb(255, 255, 255);
    font-family: 13px "monospace"; 
    font-weight: 600;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
    overflow-wrap: break-word; 
}


.usermessage {
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
 margin-top: 30px;
 padding: 15px;

}
.me-container {
    height: 20px;
    background-color: #3d425c;
    box-sizing: border-box; 
    padding: 5px;
    border-radius: 10px;
    display: flex;          
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    
}
.menu-container-buttons{
    background-color: gray;
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    border: 4px solid tan;

}

.me-container input[type="text"] {
    height: 100%;
    outline: none;
    padding: 5px;
    border: 1px tan solid;
    background-color: #242424;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.me-container #add {
    border-radius: 100%; 
    background-image: url("https://www.svgrepo.com/show/2087/plus.svg");
    background-color: transparent; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border: none; 
    padding:10px; 
    cursor: pointer; 
    user-select: none;
}





.menu-bar{
    height: 100px;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    justify-items: center;
    align-content: center;
    opacity: 0%;
    left: 0;
    bottom: 70px;
    background-color: gray;
    z-index: 1000;



}

.menu-bar button {
    display: flex;
    justify-content: center;
    align-items: center;

}

#add:focus ~ .menu-bar {
    height: 100px;
    display: block;
    width: 40px;
    border-radius: 30px;
    position: absolute;
    opacity: 100%;
    bottom: 70px;
    background-color: gray;

}

.settings{
background-image: url("https://www.svgrepo.com/show/10207/settings.svg");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
    position: relative;
    display: flex;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
}

.settings:hover {
    background-color: #ccc;
}
.settings-page{
    position: absolute;
    background-color: rgb(46, 46, 46);
width: 100%;
height: 60%;
visibility:hidden;

}
.settings-page.active{
    visibility:visible;
    
}

.settings-content {
    color: white;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.settings-container {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 60px;
    
}



.custom-file-upload {
   
background-image: url("https://www.svgrepo.com/show/28557/upload-sign.svg");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 30px;
    height: 30px;

    border-color: transparent;
    background-color: transparent;
}

.custom-file-upload:hover {
    background-color: #ddd; 
}

.custom-file-upload input[type="file"] {  
    display: none;
}


p code {
    background-color: rgb(78, 78, 78);
display: inline-block;
color: rgb(228, 228, 228);
padding: 10px;
font-family: 'Times New Roman', Times, serif;

}
p{ 
    overflow: auto;
    padding: auto;
    overflow-wrap: break-word;
}

